{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row mb-4">
        <div class="col-4">
            <img src="{% static 'img/no-img.png' %}" alt="">
        </div>
        <div class="col-6">
            <div>
                <h2>Username: {{ user.username }}</h2>
                {% if is_subscribed %}
                    <a class="btn bg-secondary" href="{% url 'user.unsubscribe' user.id %}">unsubscribe</a>
                {% else %}
                    <a class="btn bg-secondary" href="{% url 'user.subscribe' user.id %}">subscribe</a>
                {% endif %}
            </div>
            <p>Users subscribes:</p>
            <ul>
                {% for subscribe in subscribes %}
                    <li><a href="{% url 'user' subscribe.author.id %}">{{ subscribe.author.username }}</a></li>
                {% empty %}
                    <li>No subscribes</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr />
    {% for post in posts %}
    <div class="row">
        <article class="col-12">
            <h2><a href="{% url 'post.detail' post.id %}">{{ post.title }}</a></h2>
            <span>{{ post.created_at }}</span>
            <p>{{ post.content }}</p>
        </article>
    </div>
    {% empty %}
    <div class="row">No posts yet.</div>
    {% endfor %}
{% endblock %}